
.crear-gifs{
    display: none;
    margin-top: 125px;

    .creargif{
     display: flex;
     justify-content: space-evenly;
        .camara{
            display: flex;

        }
        .contenido{
           width: 50%;
            height: 390px;
            border: 1px solid $color-principal;
        
        }
            .caja1{
                border-top: 1px solid #50e3c2;
                border-left: 1px solid #50e3c2;
                top: 6px;
                left: 6px;
                width: 1.7rem;
                height: 1.7rem;
                position: relative;
                z-index: 3;
            }
            .caja2{
                border-top: 1px solid #50e3c2;
                border-right: 1px solid #50e3c2;
                top: -21px;
                right: -94%;
                width: 1.7rem;
                height: 1.7rem;
                position: relative;
                z-index: 4;
            }
            .caja3{
                border-bottom: 1px solid #50e3c2;
                border-left: 1px solid #50e3c2;
                bottom: -300px;
                left: 6px;
                width: 1.7rem;
                height: 1.7rem;
                position: relative;
                z-index: 5;
            }
            .caja4{
                border-bottom: 1px solid #50e3c2;
                border-right: 1px solid #50e3c2;
                bottom: -274px;
                right: -94%;
                width: 1.7rem;
                height: 1.7rem;
                position: relative;
                z-index: 6;
            }
         .subir-gifo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
             position: relative;
             z-index: 7;
             width: 100%;
             height: 100%;
             margin-top: -110px;
             .h2-crear-gif{
                 width: 100%;
                 text-align: center;

             }
             .text{
                width: 100%;
                text-align: center;   
             }
             .info{
                text-align: center;
                display: none;
                
            }
            .grabacion-video{
                display: none;
            }
         }
        
        
    }
    .crear-controles{

        .controles{
            .btn-subir{
                display: flex;
                justify-content: center;
                margin-left: 10%;
            }
        }
    }
}
