.mis-gifos{
  margin-top: 125px;
  text-align: center;
  display: none;
    .h2-misgifos{
        color: $color-principal;
        font-family:'Montserrat', sans-serif ;
        font-size: 20px;
        margin: 10px auto 46px auto;
    }
}